
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;700&family=Open+Sans&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,700&family=Roboto:wght@100;300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}


.main{
    
    
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    /*eixo x*/
    justify-content: center;
    /*eixo y*/
    align-items: center;
    ;

}

.left{
    
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.right{
    width: 700px;
    height: 583px;
    background: #fff;
    display: flex;
    justify-content:center ;
    align-items: center;
    

}

.card{
    width: 393px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #79707056; 
    height: 405px;
    
    
    
}
.card > h1 { 
    color: #00A551;
    font-weight: 500;
    font-size: 20px;
    padding: 14px;

}

.textfield{ 
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;

}

.textfield > input{
    width: 309px;
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 15px;
    background: #F4F4F4;
    color: #0a0c0cde;
    font-size: 12pt;
    outline: none;
    border: 2px solid transparent;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

input:focus{
    border-color: #77ffc0;
}

.textfield > label{
    color: #7F7E83;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-login{
    width: 150px;
    height: 30px;
    margin: 25px;
    border: none;
    border-radius: 13px;
    outline: none;
    font-weight: 58px;
    font-size: 12px;
    color: #ffffff;
    background: #00A551;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00008052;
    justify-content: 490px;
    align-items: 354px;


}

.card > h5{
    color: #474749;
    font-weight: 400;
    font-size: 12px;
}

.btn-login:hover{
    transition: background 1s;
    background: #23b872;
}